<ion-tab-bar slot="bottom">
  <ion-tab-button href="/page1">
    <ion-icon name="home" color="tertiary"></ion-icon>
    <ion-label color="tertiary">Inicio</ion-label>
  </ion-tab-button>
  <ion-tab-button href="/page2">
    <ion-icon name="nutrition" color="danger"></ion-icon>
    <ion-label color="danger">Productos</ion-label>
  </ion-tab-button>
  <ion-tab-button href="/page3">
    <ion-icon name="book" color="secondary"></ion-icon>
    <ion-label color="secondary">Información</ion-label>
  </ion-tab-button>
</ion-tab-bar>
