<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-icon name="leaf" item-start-class="text-primary" color="success"></ion-icon>
      <ion-text class="letra">Granja Pérez</ion-text> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid Fixed>
    <ion-row class="ion-justify-text-center">
      <ion-col size-lg="12" size="10">
        <ion-card>
          <ion-card-header color="success">
            <ion-img  class="img" src="/assets/images/granja-1-12.png" style="margin-bottom: 7px;"></ion-img>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title class="ion-text-center" color="success"><br>Bienvenido/a a mi tienda online</ion-card-title>
            <ion-text class="text">"La Granja de Pepe" no es solo una granja, es el resultado de casi 40 años de trabajo duro de mi familia en mantener este negocio, todo lo que aquí siembro es de la mejor calidad.</ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header color="success">
            <ion-img  class="img" src="/assets/images/toppng.com-vegetables-and-fruits-cartoon-617x335.png" style="margin-bottom: 7px;"></ion-img>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title class="ion-text-center" color="success"><br>Productos de Calidad</ion-card-title>
            <ion-text class="text">Los alimentos de mi granja son 100% naturales y libres de fertilizantes, usamos las mejores herramientas y técnicas para cultivarlos y cosecharlos y contamos con una gran variedad de estos.</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>